<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px" class="maze-nav">
  <div fxFlex>
    <button mat-raised-button (click)="onGetMaze()" color="accent">Get Maze</button>
  </div>

  <div fxFlex>
    <mat-form-field>
      <mat-select placeholder="Select Algorithm" #alSelect>
        <mat-option *ngFor="let al of algorithms" [value]="al">
          {{ al }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxFlex>
    <button mat-raised-button (click)="onSolveMaze(alSelect.value)" color="accent" [disabled]="!alSelect.value">Solve Maze</button>
  </div>
</div>