@import '~@angular/material/theming';

$maze-primary: mat-palette($mat-indigo);
$maze-accent: mat-palette($mat-pink);
$block-size: 10px;

.block{
    background-color: mat-color($maze-primary);
    padding: 2px;
    height: $block-size;
    width: $block-size;
    
    &.aisle{
      background-color: mat-color($maze-primary, 50);

      &.solution{
        background-color: mat-color($maze-accent, 200);
      }
    }
    
    .material-icons {
      color: mat-color($maze-accent, A700);
      font-size: $block-size;
      vertical-align: middle;
    }
  }

