@import '~@angular/material/theming';

$maze-primary: mat-palette($mat-indigo);
$maze-accent: mat-palette($mat-pink);
$block-size: 20px;

.block{

    height: $block-size;
    width: $block-size;
    padding: 3px;
    

    &.border-bottom {
      border-bottom: 2px solid mat-color($maze-primary);
      padding-bottom: 1px;
    }

    &.border-left {
      border-left: 2px solid mat-color($maze-primary);
      padding-left: 1px;
    }

    &.border-right {
      border-right: 2px solid mat-color($maze-primary);
      padding-right: 1px;
    }

    &.border-top {
      border-top: 2px solid mat-color($maze-primary);
      padding-top: 1px;
    }

    .symbol{
      color: mat-color($maze-accent, A700);
      text-align: center;

      &.light{
        color: mat-color($maze-accent, 200);
      }
    }

  }

