@import '~@angular/material/theming';

$maze-primary: mat-palette($mat-indigo);
$maze-accent: mat-palette($mat-pink);

.block{
    background-color: mat-color($maze-primary);
    padding: 2px;
    height: calc(100% - 4px);
    
    &.aisle{
      background-color: mat-color($maze-primary, 50);

      &.solution{
        background-color: mat-color($maze-accent, 200);
      }
    }
    
    .material-icons {
      color: mat-color($maze-accent, A700);
      font-size: 14px;
      height: 14px;
      width: 14px;
      vertical-align: middle;
      text-align: center;
    }
  }

