
mat-sidenav {
  width: 200px;
}

mat-sidenav-container{
  min-height: 500px;
}

.maze-table{
  margin: 10px;
}

.block{
  min-width: 30px;
  min-height: 30px;
  background-color: lightskyblue;
  border: 1px solid royalblue;
  padding: 2px;
  text-align: center
}

.block.aisle{
  background-color: lightgoldenrodyellow;
}

.block.aisle.solution{
  background-color: lightseagreen;
}