
mat-sidenav {
  width: 200px;
}

mat-sidenav-container {
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
}

.maze-nav{
  margin-top: 20px;
}

.maze-table{
  margin: 10px;
}

.block{
  min-width: 30px;
  min-height: 30px;
  background-color: lightskyblue;
  border: 1px solid royalblue;
  padding: 2px;
  text-align: center
}

.block.aisle{
  background-color: lightgoldenrodyellow;
}

.block.aisle.solution{
  background-color: lightseagreen;
}